<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.boom.mapper.DbDayMapper">
	
	
	<select id="selectDayByStatus" parameterType="com.boom.pojo.DbDay" resultType="com.boom.pojo.DbDay">
		select * from db_day where imonth=#{imonth} and dname=#{dname} and tid=#{tid}
	</select>
	
	<insert id="insert" parameterType="com.boom.pojo.DbDay">
		insert into db_day(dname,imonth,tid,iid) values(#{dname},#{imonth},#{tid},#{iid})
	</insert>
	
	<update id="update" parameterType="com.boom.pojo.DbDay">
		update db_day set status=#{status}, dtime=CONCAT(dtime,#{dtime}) where imonth=#{imonth} and dname=#{dname} and status=2 and tid=#{tid}
	</update>
	
</mapper>