<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.boom.admin.mapper.AdminDBWaysignMapper">
	
	<select id="findAll" resultType="com.boom.pojo.DbWaysign">
		SELECT * FROM db_waysign
	</select>
	
	<update id="updateWaysign" parameterType="com.boom.pojo.DbWaysign">
		update db_waysign 
		<set>
	      <if test="longitude != null" >
	        longitude = #{longitude},
	      </if>
	      <if test="latitude != null" >
	        latitude = #{latitude},
	      </if>
	      <if test="radius != null" >
	        radius = #{radius},
	      </if>
	      <if test="mode != null" >
	        mode = #{mode},
	      </if>
	      <if test="mac != null" >
	        mac = #{mac},
	      </if> 
	    </set>
	    where wid = #{wid}
	</update>
	
	<update id="updateWaysignState" parameterType="java.lang.Integer">
		update db_waysign set  state = 1 where wid = #{wid}
	</update>
	
	<update id="updateWaysignStatedel" parameterType="java.lang.Integer">
		update db_waysign set  state = 0 where wid = #{wid}
	</update>
</mapper>